<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Komitenti</title>
	<!-- CSS -->
	<link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
	<!-- JAVASCRIPT -->
	<script type="text/javascript" src="/js/jquery-2.1.3.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>
	<script type="text/javascript" src="/js/moment.js"></script>
</head>

<body style="padding-top: 65px">
<div id="header"></div>
<div class="col-md-8 col-md-offset-2">
<div class="panel panel-primary">
<div class="panel-heading">
	<h3 class="panel-title">Komitenti banke</h3>
</div>
<div class="panel-body">
  <table class="table table-hover">
	  <tr>
	     <th>Emšo</th>
	     <th>Ime</th>
	     <th>Priimek</th>
	     <th>Datum rojstva</th>
	     <th>Ulica</th>
	     <th>Pošta</th>
	  </tr>
  	%for (emso,ime,priimek,rojstvo,ulica,posta) in osebe:
	    <tr>
	       <td>{{emso}}</td>
	       <td>{{ime}}</td>
	       <td>{{priimek}}</td>
	       <td>{{rojstvo}}</td>
	       <td>{{ulica}}</td>
	       <td>{{posta}}</td>
	    </tr>
 	 %end
  </table>
 </div>
</div>
</div>
<script type="text/javascript">
	$(function () {
	  $('.date').each(function (index, dateElem) {
	    var $dateElem = $(dateElem);
	    var formatted = moment($dateElem.text(), 'YYYY-MM-DD').locale("sl").format('LL');
	    $dateElem.text(formatted);
	   })
	 });
	$(function() {
		$('#header').load("/views/header.html");
	});
</script>
</body>
</html>