<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Komitenti</title>
	<!-- CSS -->
	<link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
	<!-- JAVASCRIPT -->
	<script type="text/javascript" src="/js/jquery-2.1.3.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>
	<script type="text/javascript" src="/js/moment.js"></script>
</head>

<body style="padding-top: 65px">
<div id="header"></div>
<div class="col-md-8 col-md-offset-2">
<div class="panel panel-primary">
<div class="panel-heading">
	<h3 class="panel-title">Transakcije nad {{x}} evri</h3>
</div>
<div class="panel-body">
  <table class="table table-hover">
  <tr>
     <th>ID</th>
     <th>Znesek</th>
     <th>Račun</th>
     <th>Čas</th>
     <th>Opis</th>
  </tr>
  %for (id,znesek,racun,cas,opis) in transakcije:
    <tr>
       <td>{{id}}</td>
       <td>{{znesek}}</td>
       <td>{{racun}}</td>
       <td class="date">{{cas}}</td>
       <td>{{opis}}</td>
    </tr>
  %end
  </table>
</div>
</div>
</div>
<script type="text/javascript">
	$(function () {
	  $('.date').each(function (index, dateElem) {
	    var $dateElem = $(dateElem);
	    var formatted = moment($dateElem.text(), 'YYYY-MM-DD').locale("sl").format('LL');
	    $dateElem.text(formatted);
	   })
	 });
	$(function() {
		$('#header').load("/views/header.html");
	});
</script>
</body>
</html>